html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
main, section {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Caesar Dressing', cursive;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: #FEECC0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  margin: 0;
  color: #FEECC0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Alata;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
}

* {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #FEECC0;
}

@media (max-width: 600px) {

  h1 {
    font-size: 3.5rem;
  }
}