.homepage_container {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0 0;
  position: relative;
  top:0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.home_intro_section {
  margin: 0;
  padding:0;
  width: 100%;
  position: relative;  /* -- */
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}
.home_intro_section img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_content {
  position: absolute;  /* Absolute positioning relative to .home_intro_Section */
  left: 10%;  /* Adjust this value to move the text horizontally */
  top: 50%;   /* Adjust this value to move the text vertically */
  color: #fff; 
  z-index: 2;
  text-align: center;
}


.health_definition_section h1, 
.health_definition_section p  {
  color: #0F2102;
  width: 100%;
  margin-top: 24px;
  text-shadow: none;

}

.health_definition_section {
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FEECC0;
}


.health_definition_content{
  padding: 14vh 8vw 0vh 0vh;
  width: 60vw;
  height: 100vh;
}

.animal_helth_avaliation {
  width: 100vw;
  position: relative;  /* -- */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.health_informative_section h1, 
.health_informative_section p  {
  color: #0F2102;
  width: 100%;
  margin-top: 24px;
  text-shadow: none;
}

.health_informative_section {
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FEECC0;
}


.health_informative_content{
  padding: 12vh 4vh 0vh 6vh;
  width: 60vw;
  height: 100vh;
  width: 100%;
}


.supportContainer {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: #000;
}

.supportHeader {
  position: absolute;
  top: 10%;
  left: 6%;
  margin: 1rem 1rem;
}

.supportHeader h1 {
  padding-top: 4vh;
  font-size: 3rem;
  margin: 1rem;
}

.supportHeader p {
  width: 60%;
  margin: 1rem;
}

.supportBody {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 36%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
}

.qrCodePlaceholder {
  /* Replace the dimensions as needed based on your actual QR code size */
  width: 200px;
  height: 200px;
  background-color: #ffffff; /* Placeholder color */
  border-radius: 1.2rem;
  position: relative;
}
.qrCodePlaceholder img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qrCodePlaceholder {
  padding-bottom: 30vh;
}

.pixEmail {
  display: flex;
  justify-content: space-between;
}
.pixEmail img {
  height: 1.5rem;
  padding-right: 10px;
}

.contactInfo {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfo h2,
.contactInfo h3,
.supportBody h3{
  color: #FCFFF0;
  font-family: Caesar Dressing;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 5.775rem */
  padding: 0;
  margin: 0;
}
.contactInfo p {
  color: #fff;
  font-size: 1rem;
  padding-top: 20px;
}

.contactInfo h3,
.supportBody h3 {
  font-size: 2.5rem;
}

.productsButton {
  background: #EE6B0C; /* Adjust color as needed */
  border: none;
  border-radius: 5rem;
  padding: 0.5em 2em;
  color: #fff;
  font-weight: bold;
  margin: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 8px 0px;
}

.discoverButton:hover, .productsButton:hover {
  background-color: #e59428; /* Darker shade for hover state */
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 1.2rem; /* Space between links */
  align-items: center;
  margin-top: 1rem;
}

.socialMedia a {
  color: #fff; /* Adjust as needed */
  text-decoration: none;
}
.pequi_media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.pequi_media p{
  padding-top: 0px;
}


@media (max-width: 600px) {
  .home_content {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .health_definition_section {
    width: 100vw;
    height: auto; 
    display: flex;
    flex-direction: column;
  }
  
  
  .health_definition_content{
    width: 100vw;
    height: auto;
    padding: 20px 20px 40px 20px;
  }

  .health_informative_section {
    width: 100vw;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FEECC0;
  }
  
  .health_informative_content{
    padding: 6vh 4vw 6vh 4vh;
    width: 100%;
    height: auto;
  }

  .supportContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100%;
  }

   .suport_background{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    object-fit: contain; /* For contain */
    /* or */
    object-fit: cover; /* For cover */
  }
  img.suport_background {
    object-fit: contain; /* For contain */
    /* or */
    object-fit: cover; /* For cover */
  }

  .supportHeader,
  .supportBody,
  .contactInfo {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  
  .supportContainer p{
    font-size: 1.0rem
  }
  .supportHeader p {
    width: 94vw;
    font-size: 1rem;
  }
  .supportBody {
    padding-top: 12px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-around;
  }

  .qrCodePlaceholder {
    padding-bottom: 0;
  }

  .qrCodePlaceholder img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .pixEmail {
    display: flex;
    justify-content: space-between;
  }
  .pixEmail img {
    height: 1.3rem;
    padding-right: 0px;
    display: none;
  }

  .contactInfo {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: 1.2rem;
  }
  
  .contactInfo h2,
  .contactInfo h3,
  .supportBody h3{
    color: #FCFFF0;
    font-family: Caesar Dressing;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 5.775rem */
    padding: 0;
    margin: 0;
  }
  .contactInfo h2 {
    font-size: 2.5rem;
  }



  .contactInfo p {
    color: #fff;
    font-size: 1rem;
    padding-top: 20px;
  }
  
  .contactInfo h3,
  .supportBody h3 {
    font-size: 2.5rem;
  }
  

  .socialMedia {
    width: 100%;
    margin-top: 0.6rem;
    position: relative;
  }
  .pequi_media p{
    padding-top: 0px;
  }

}