.homepage_container {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0 0;
  position: relative;
  top:0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.home_intro_section {
  margin: 0;
  padding:0;
  width: 100%;
  position: relative;  /* -- */
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}
.home_intro_section img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.home_content {
  position: absolute;  /* Absolute positioning relative to .home_intro_Section */
  left: 10%;  /* Adjust this value to move the text horizontally */
  top: 50%;   /* Adjust this value to move the text vertically */
  color: #fff; 
  z-index: 2;
  text-align: center;
}

@media (max-width: 600px) {
  .home_content {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}