.homepage_container {
  min-height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 0;
  position: relative;
  top:0;
  left: 0;
  margin: 0;
}

.homepage_container p {
  font-size: 1.5rem;
}

.home_intro_section {
  margin: 0;
  padding:0;
  width: 100vw;
  position: relative;  /* -- */
  z-index: 3;
}

.image_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(3deg, #000 -50.65%, rgba(0, 0, 0, 0.00) 95.92%);
  z-index: 1;
}

.home_content {
  position: absolute;  /* Absolute positioning relative to .home_intro_Section */
  left: 10%;  /* Adjust this value to move the text horizontally */
  top: 50%;   /* Adjust this value to move the text vertically */
  color: #fff; 
  z-index: 2;
  text-align: center;
}


.about_section {
  min-height: 100vh;
  padding: 20vh;
  background-color: #FFF5DD;
  font-family: Arial, sans-serif;
  text-align: baseline;
  position: relative;
}

.about_section h1 {
  margin-bottom: 20px;
  color: #0F2102;
}

.about_section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #0F2102;
  width: 80%;
}

.info_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}

.info_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 50vh;
  margin: 0 1.5%;
  padding: 20px 3%;
  vertical-align: top;
  border-radius: 20px;
  background-color: #0F2102;
  color: #FEECC0;
  text-align: center;
}
.info_card p {
  color: #FEECC0;
  width: 100%;
}

.info_card h2 {
  color: #FEECC0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Caesar Dressing;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.info_card svg {
  display: block;
  max-width: 20%;
  flex-shrink: 0;
}

.projects_container {
  width: 100%;
  min-height: 100vh;
  background-color: #FFF5DD;
  display: flex;
  flex-direction: column;
}

.projects_container .project_content{
    color: #0F2102;
    padding-top: 15vh;
    padding-left: 20vh;
    padding-bottom: 5vh;
}

.project_content p {
  color: #0F2102;
  padding-top: 5vh;
  font-size: 1.2rem;
  width: 90%;
}
.project_content  h1{
  color: #0F2102;


}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.projectCard {
  width: 80%;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.projectCard p {
  font-size: 1.2rem;
}

.projectCard h2 {
  color: #FEECC0;

  font-family: Caesar Dressing;
  font-size: 2.0rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 2.75rem */
}

.imageContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 20px;
  height: 0;
  padding-bottom: 30.52%; 
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(51deg, #000 -57.7%, rgba(0, 0, 0, 0.00) 152.05%);
  z-index: 2;
  border-radius: 20px;
}


.projectBackground {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.projectContent {
  padding: 4.3rem;
  z-index: 2;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectContent p{
  width: 80%;
}

.learnMoreButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.learnMoreButton {
  color: #FEECC0;
  text-align: center;
  font-family: Caesar Dressing;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.projectCard:nth-child(1) {
  border: 3px solid #224A04;
}

.projectCard:nth-child(2) {
  border: 3px solid #EE6B0C;
}

.projectCard:nth-child(3) {
  border: 3px solid #000;
}

.projectCard:nth-child(4) {
  border: 3px solid #224A04;
}

.projectCard:nth-child(1) .learnMoreButton {
  border: 3px solid #FEECC0;
  background-color: #224A04;
}

.projectCard:nth-child(2) .learnMoreButton {
  background: #EE6B0C;
  border: 3px solid #512200;
  color: #512200;
}

.projectCard:nth-child(3) .learnMoreButton {
  border: 3px solid #FEECC0;
  background: #512200;
  color: #FEECC0;
}

.projectCard:nth-child(4) .learnMoreButton {
  border: 3px solid #224A04;
  background: #FFF;  
  color: #224A04;
}

.species_container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  color: linear-gradient(82deg, #000 -47.46%, rgba(0, 0, 0, 0.00) 109.72%);
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  
}

.species_content {
  width: 80%;
  margin-top: 10vh;
  height: 50vh;
  background-color: rgba(15, 33, 2, 0.80) ;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.species_background_wrapper{
  height: 0;
  padding-bottom:50.25%;
}

.species_background_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(3deg, #000 -50.65%, rgba(0, 0, 0, 0.00) 95.92%);
  z-index: 1;
}

.species_cards_container {
  height: 50vh;
  width: 96vw;
  margin-top: 2rem; /* Adjust as needed for spacing */
  padding-bottom: 1rem; /* To ensure there is space below the cards */
  background-color: rgba(15, 33, 2, 0.60);
  display: flex;
  
  z-index: 2;

}

.species_card {
  width: 18vw;
  height: 270px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, #000 -26.46%, rgba(0, 0, 0, 0.00) 116.81%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative; /* For the absolute positioning of the image */
  margin-right: 1rem; /* Space between cards */
}

.species_banner {
  border-radius: 20px; /* To ensure the image has rounded corners */
  z-index: 0;
}

.species_link {
  text-decoration: none; /* Assuming you want to remove the default link styling */
}

.species_button {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  z-index: 1;
  /* Add additional button styling here */
}

@media (max-width: 600px) {
 
}
