.homepage_container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0 0;
  position: relative;
  top:0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.home_intro_section {
  margin: 0;
  padding:0;
  width: 100vw;
  object-fit: cover;
  position: relative;  /* -- */
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home_content {
  position: absolute;  /* Absolute positioning relative to .home_intro_Section */
  left: 10%;  /* Adjust this value to move the text horizontally */
  top: 50%;   /* Adjust this value to move the text vertically */
  color: #fff; 
  z-index: 2;
  text-align: center;
}

.pequi_definition_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #512200;
  justify-content: space-between;
}

.pequi_definition_content {
    padding: 16vh 5vh 0vh 10vh;
    width: 60vw;
    height: 100vh;
}

.pequi_definition_content p{
  padding-top: 26px;
}

.pequi_informative_section {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.informative_content{
  position: absolute;
  top: 14%;
  left: 50%;
  width: 42%;
  background-color: #FCFFF0;
  height: auto;
  padding: 10px 30px 30px 30px;
  border-radius: 1.2rem;
  margin: 0;
}

.informative_content p {
  color: #0F2102;
  padding-top: 24px;
  text-shadow: none;

}
.lobos_guara_adultos {
  width: 100vw;
  position: relative;  /* -- */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.monitoring_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #512200;
  justify-content: space-between;
}

.monitoring_section_content {
    padding: 16vh 10vh 0vh 10vh;
    width: 80vw;
    height: 100vh;
}

.monitoring_section_content p{
  padding-top: 26px;
}

.pequi_nature_section {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pequi_nature_content{
  position: absolute;
  top: 14%;
  left: 10%;
  width: 42%;
  background-color: #FCFFF0;
  height: auto;
  padding: 10px 30px 30px 30px;
  border-radius: 1.2rem;
  margin: 0;
}

.pequi_nature_content p {
  color: #0F2102;
  padding-top: 24px;
  text-shadow: none;
}




@media (max-width: 600px) {
  .home_content {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .pequi_definition_section {
    height: auto;
    flex-direction: column-reverse;
  }
  .pequi_definition_content {
    padding: 10vh 5vw 5vh 5vw;
    width: 100vw;
    height: auto;
  }

  .informative_content{
    position: relative;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #512200;
    border-radius: 0;
  }

  .informative_content p {
    color: #FCFFF0;
  }

  .monitoring_section {
    height: auto;
    flex-direction: column;
  }
  .monitoring_section_content {
    padding: 5vh 5vw 5vh 5vw;
    width: 100vw;
    height: auto;
  }

  .pequi_nature_content{
    position: relative;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #512200;
    border-radius: 0;
  }

  .pequi_nature_content p {
    color: #FCFFF0;
  }

}